.card{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 12px;
  margin-bottom: 10px;
  width: 80%;
  background-color: aliceblue;
  padding: 5px;
  padding-left: 30px;
  margin: 12px;
}
.header{
  display: flex;
  justify-content: space-around;
  margin: 12px;
  margin-bottom: 20px;
}
.input{
  padding: 5px;
  font-size: larger;
  border-radius: 12px;
  
  
}
.sort{
  display: flex;
  gap: 10px;
  align-items: center;
}